CORE_DB_HOST=core-db
CORE_DB_PORT=5432
CORE_DB_NAME=core
CORE_DB_USER=core
CORE_DB_PASS=corepass

CLOUD_DB_HOST=cloud-db
CLOUD_DB_PORT=5432
CLOUD_DB_NAME=cloud
CLOUD_DB_USER=cloud
CLOUD_DB_PASS=cloudpass

REDIS_HOST=redis
REDIS_PORT=6379

EDGE_1_URL=http://edge-1:3000
EDGE_2_URL=http://edge-2:3000
CORE_1_URL=http://core-1:4000
CORE_2_URL=http://core-2:4000
ML_URL=http://core-ml:5000

PLACEMENT_THRESHOLD=0.005
CORE_HEARTBEAT_MS=3000
LEADER_TTL_MS=10000
